<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main/side.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png" type="image/x-icon" data-next-head="">
</head>
<body>
<header th:replace="~{/fixed/header.html :: header}"></header>
<!-- main -->
<main>

    <div class="main-container">
        <header class="coach-mark-wrapper">
            <ul class="coach-mark-container">
                <li>
                    <button>
                        <span class="btn-content active">인기</span>
                    </button>
                </li>
            </ul>
        </header>
        <!-- 무한 스크롤 -->
        <div class="content-wrapper">
            <div class="content-list-container">
                <ul
                        class="content-list" id="intersectionObserver">
                    <!-- <hr class="category-ul-horizon"> -->
                    <!--  답변 반복 부분 -->

                </ul>
            </div>
            <div th:replace="~{/fixed/side.html :: .main-side-container}"></div>
        </div>
        <!-- /무한 스크롤 -->
    </div>
</main>
<div id="loading">
    <img src="/images/loading.gif">
</div>
<!-- /main -->
<div th:replace="~{/fixed/footer.html :: .footer-layout-wrapper}"></div>
</body>
<script th:inline="javascript">
    const category = [[${category}]];
</script>
<script src ="/js/main/header/event.js"></script>
<script src="/js/main/main/module/service.js"></script>
<script src="/js/main/main/module/layout.js"></script>
<script src="/js/main/main/event.js"></script>
</html>

