<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/post/post-list.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png" type="image/x-icon">
</head>
<body>
<header th:replace="~{/fixed/header.html :: header}"></header>
    <!-- main -->
    <main>
        <div class="main-container">
            <header class="coach-mark-wrapper">
                <ul class="coach-mark-container">
                    <li>
                        <button>
                            <span class="btn-content active">의료 Q&A</span>
                        </button>
                    </li>
                </ul>
            </header>
            <!-- 무한 스크롤 -->
            <div class="content-wrapper">
                <div class="content-list-container">
                    <div class="category-list-wrap">
                        <div class="total-search-container">
                            <!-- 잠시 대기 -->
                            <form id="searchForm" name="searchForm">
                                <div class="total-search-input-wrap">
                                    <!-- 검색 이벤트 -->
                                    <input class="total-search-input" id="keywordInput" type="text" placeholder="검색어를 입력하세요.">
                                    <button type="submit" class="search-button">
                                    <!-- /검색 이벤트 -->
                                    <img alt="search" loading="lazy" width="24" height="24" decoding="async" data-nimg="1" style="color:transparent" src="https://media.a-ha.io/aha-qna/images/common/icons/mark/magnifying-000%20default.svg">
                                </div>
                            </form>
                            <!-- /잠시 대기 -->
                        </div>
                        <div class="category-list-container">
                            <!-- 버튼 이벤트 모달 열기 -->
                            <button class="category-container-modal-btn">
                                <span class="check-list">전체</span>
                                <div class="check-list-svg">
                                    <svg fill="none" height="20" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd" d="M6.57967 16.629C6.14033 16.1897 6.14033 15.4773 6.57967 15.038L11.6175 10.0002L6.57967 4.96233C6.14033 4.52299 6.14033 3.81068 6.57967 3.37134C7.01901 2.932 7.73132 2.932 8.17066 3.37134L14.004 9.20467C14.4433 9.64401 14.4433 10.3563 14.004 10.7957L8.17066 16.629C7.73132 17.0683 7.01901 17.0683 6.57967 16.629Z" fill="#b0b8c1" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </button>
                            
                            <button class="card-list-order-btn" data-order="latest">
                                <span class="card-list-btn-text change-order">최신 순</span>
                                <div class="card-list-icon">
                                    <svg fill="none" height="12" viewbox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd" d="M14.5552 7.34075C14.8982 7.63527 14.9276 8.14101 14.6209 8.47036L11.9542 11.3332C11.7961 11.5029 11.5702 11.5999 11.333 11.5999C11.0958 11.5999 10.8699 11.5029 10.7118 11.3332L8.04514 8.47036C7.73835 8.14101 7.76777 7.63527 8.11084 7.34075C8.45392 7.04624 8.98074 7.07447 9.28752 7.40383L10.4997 8.70512L10.4997 1.1999C10.4997 0.758074 10.8728 0.399902 11.333 0.399902C11.7932 0.399902 12.1663 0.758074 12.1663 1.1999L12.1663 8.70512L13.3785 7.40383C13.6853 7.07447 14.2121 7.04624 14.5552 7.34075Z" fill="#b0b8c1" fill-rule="evenodd"></path>
                                        <path clip-rule="evenodd" d="M7.55515 4.65925C7.89823 4.36473 7.92764 3.85899 7.62086 3.52964L4.95419 0.666849C4.7961 0.497129 4.57017 0.400119 4.333 0.400119C4.09583 0.400119 3.8699 0.497129 3.71181 0.666849L1.04514 3.52964C0.738355 3.85899 0.767771 4.36473 1.11084 4.65925C1.45392 4.95376 1.98074 4.92552 2.28752 4.59617L3.49967 3.29488L3.49967 10.8001C3.49967 11.2419 3.87276 11.6001 4.333 11.6001C4.79324 11.6001 5.16633 11.2419 5.16633 10.8001L5.16633 3.29488L6.37848 4.59617C6.68526 4.92553 7.21208 4.95376 7.55515 4.65925Z" fill="#b0b8c1" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </button>
                            <!-- /버튼 이벤트 모달 열기 -->
                        </div>
                    </div>
                    <hr class="category-ul-horizon">
                    <ul
                        class="content-list" id="intersectionObserver">
                        <!-- 답변 반복 부분 -->
                    </ul>

                    <div id="page-container"></div>

                    <div style="height:300px" id="intersectionObserverLayout"></div>
                </div>
                <div class="side-bar-container">
                    <aside class="side-bar-wrap">
                        <div class="side-bar-poster">
                            <img src="/images/poster1.jpg" width="320" height="300">
                        </div>
                        <div class="side-bar-poster">
                            <img src="/images/poster2.jpg" width="320" height="300">
                        </div>
                        <div class="side-bar-poster">
                            <img src="/images/poster3.jpg" width="320" height="300">
                        </div>
                        <div class="side-bar-poster">
                            <img src="/images/poster4.jpg" width="320" height="300">
                        </div>
                        <div class="side-bar-poster">
                            <img src="/images/poster5.jpg" width="320" height="300">
                        </div>
                    </aside>
                </div>
            </div>
            <!-- /무한 스크롤 -->
        </div>

        <div class="category-modal">
            <div class="category-modal-container">
                <div class="category-modal-wrap">
                    <span class="category-title">진료과목 선택</span>
                    <div class="category-btn-wrap">
                        <div class="category-btn-container">
                            <div class="category-btn-container-scroll">
                                <div class="category-content-wrap">
                                    <div class="category-content-title">
                                        <span class="category-department">진료과목</span>
                                    </div>
                                    <!-- 클릭 이벤트(안에 button쪽 일 거임)-->
                                    <ul class="category-list-wrap">
                                        <li>
                                            <button class="category-btn">
                                                <span>피부과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>안과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>치과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>비뇨의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>산부인과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>한방과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>신경과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>재활의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>정신건강의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>응급의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>마취통증의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>방사선종양학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>영상의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>진단검사의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>직업환경의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>가정의학과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>소아청소년과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>이비인후과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>소화기내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>호흡기내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>감염내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>알레르기내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>내분비내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>순환기내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>신장내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>류마티스내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>혈액종양내과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>성형외과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>정형외과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>신경외과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>대장항문외과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>흉부외과</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="category-btn">
                                                <span>외과</span>
                                            </button>
                                        </li>
                                    </ul>
                                    <!-- /클릭 이벤트 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category-fix-btn-wrap">
                        <!-- 버튼 이벤트 -->
                        <button color="gray" height="54" class="category-fix-btn category-select-btn-del">
                            <span>선택해제</span>
                        </button>
                        <button color="primary" height="54" class="category-fix-btn category-select-fix-btn">
                            <span>확인</span>
                        </button>
                        <!-- /버튼 이벤트 -->
                    </div>
                </div>
            </div>
        </div>

        <div id="loading" style="display:none;">
            <img src="/images/loading.gif">
        </div>
    </main>
    <!-- /main -->
<div th:replace="~{/fixed/footer.html :: .footer-layout-wrapper}"></div>
</body>
<script th:inline="javascript">
    const category = [[${category}]];
</script>
<script src ="/js/main/header/event.js"></script>
<script src="/js/post/post-list/module/service.js"></script>
<script src="/js/post/post-list/module/layout.js"></script>
<script src="/js/post/post-list/event.js"></script>
</html>